@model dynamic

<h2>Utilities</h2>

<ul>
    <li>@Html.ActionLink("Animation Frame", "AnimationFrame")</li>
    <li>@Html.ActionLink("Bouncing Balls", "BouncingBalls")</li>
    <li>@Html.ActionLink("Keyboard Movement", "KeyboardMovement")</li>
    <li>@Html.ActionLink("Test Spritesheet", "TestSpritesheet")</li>
    <li>@Html.ActionLink("Sprites", "Sprite")</li>
</ul>
