@model string

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <title>Canvas!</title>
    <style>
        body {
            background: #ddd;
        }

        #canvas {
            position: absolute;
            left: 0;
            top: 20px;
            margin: 20px;
            background: #000;
            border: thin inset blue;
            cursor: pointer;
        }
    </style>

</head>
<body>
    <canvas id="canvas" width="500" height="500">You don't support canvas, and you should feel bad.</canvas>

    @Scripts.Render("~/app/interfaces/ICoord.js")
    @Scripts.Render("~/app/interfaces/IDimension.js")
    @Scripts.Render("~/app/interfaces/IDrawable.js")
    @Scripts.Render("~/app/base/Glyph.js")
    @Scripts.Render("~/app/models/Ball.js")
    @Scripts.Render("~/app/models/Wall.js")
    @Scripts.Render("~/app/4pac.js")
</body>
</html>
