@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <title>Canvas!</title>
    <style>
        body {
            background: #ddd;
        }

        #canvas {
            margin: 10px;
            padding: 10px;
            background: #fff;
            border: thin inset #aaa;
        }
    </style>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <canvas id="canvas" width="600" height="300">You don't support canvas, and you should feel bad.</canvas>
        <script src="scripts/canvas.js"></script>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/app")
        @Scripts.Render("~/bundles/bootstrap")
    </body>
</html>
